body {
  background-color: #FAFAFB;
}

.split {
  background-color: #FAFAFB;
  position: absolute;
}

.heatmap {
  width: 90%;
  left: 0;
  background-color: #FAFAFB;
}

.legendmap {
  position: fixed;
  width: 10%;
  right: 0;
  height: 100%;
  padding-top: 25%;
  background-color: #FAFAFB;
  z-index: -1;
}



.swatch {
  border: 0.5px solid #dedede;
  stroke: #dedede;
  stroke-width: 1px;
  stroke-linecap: round;
  box-sizing: border-box;
  rx: 3px;
  ry: 3px;
}



.keyword {
  margin: 0px;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 9px;

  letter-spacing: 0.03em;

  color: #a0afc7;
  padding: 10px;
}

.head-seperator {
  margin: 0px;
  border: 0.5px solid #D9E8FF;
}

.textInfoHover {
  padding: 5px 10px;
}

.textDesc {
  margin: 0px;
}

.instance {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin: 0px;

  letter-spacing: 0.03em;

  color: #3e5372;
}





.freq {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;

  color: #3e5372;
}

.report {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;

  color: #a0afc7;
}

.title {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;

  fill: #3e5372;
}


.pages {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;

  color: #3e5372;
}


